*{
    margin: 0px;padding: 0px;
        }
        html{
    background-color: #F3F3F3;
				padding: 30px;
				box-sizing: border-box;
				font-family: "arial";
				line-height:18px;
				font-size: 12px;
            }
html, body{
    height: 100%;
    background-color: #121212; 
}
.input, select{
    border-radius: 10px;
    text-align: center;
    height: 110%;
    margin-left: auto;
    margin-right: auto;
}
p{
    color: azure;
}
.result{
    color: black;
    text-align: center;
}
.logo{
				width: 80px;
				margin-bottom: 12px;
}
.container{
    margin-top: 10px;
    width: 300px;
    height: 150px;
    border: .5px solid #2d2d2d;
    border-radius: 20px;
	line-height: 30px;
    background-color: #F3F3F3;
    transition: 1s;
    display: none;
}
ul{
    margin-top: 0%;
    width: 300px ;
    height: 20px;
    background-color: #3d3d3d;
    border-radius: 10px;
    list-style-type: none;
    padding: 0%;
}
ul li{
    display: inline ;
}
ul li a{
    color: #F3F3F3;
    font-size: 14px;
    margin-left: 8px;
    text-decoration: none;
    padding: 10px;
    transition: background .3s;
}
ul li a:hover{
    background-color: #7a7a7a;
    border-radius: 10px;
    border-top: 3px;
}